<nav class="navbar navbar-dark bg-dark">
    <a class= "navbar-brand" href="/" id="home">Perguntas e Respostas</a>
    <a class= "nav-link" href="/">Home</a>
    <a class= "nav-link" href="/perguntar">Perguntar</a>
</nav>