<%- include ('partials/header.ejs'); %>

<body>
    <%- include ('partials/navbar.ejs'); %>
    <br>
    <div class="container">
        <div class="card" id="formulario-usuario">
            <div class="card-header">
                <h3>Criar usuário</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarusuario">
                    <label for="">Digite seu nome</label>
                    <input type="text" placeholder="Digite seu nome" class="form-control" name="nome" required>
                    <br>
                    <label for="">Digite seu email:</label>
                    <input type="text" placeholder="Digite seu email" class="form-control" name="email" required>
                    <br>
                    <label for="">Digite sua senha:</label>
                    <input type="password" name="senha" class="form-control" required placeholder="Digite a senha">
                    <br>
                    <label for="">Confirme sua senha:</label>
                    <input type="password" name="senha2" class="form-control" required placeholder="Confirme a sua senha">
                    <br>
                    <button class="btn btn-success">Criar conta!</button>
                </form>
            </div>
            
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>