body{
    background-color:#424242;
}

#home{
    margin-left: 10px;
}

.perguntaT{
    color: white;
}
.perguntaIndex{
    color: black;
}

.respostas{
    color: black;
    background-color: white;
}

.botaoP{
    padding-left: 86%;
}
a{
    text-decoration:none;
}
a:hover{
    color: rgb(117, 117, 117);
}
.nav-link{
    color: white;
}
.homeBar{
    /*text-align:right;*/
}
.horario{
    color: rgb(153, 153, 153);
}